/* =====================================
   Адаптивность
===================================== */

/* Планшеты */

@media (max-width: 992px) {

    section {
        padding: 80px 0;
    }

    h2 {
        font-size: 40px;
    }

    .container {
        width: 92%;
    }

}

/* Смартфоны */

@media (max-width: 768px) {

    section {
        padding: 70px 0;
    }

    h2 {
        font-size: 34px;
        margin-bottom: 40px;
    }

    .gold-btn,
    .black-btn {

        width: 100%;
        text-align: center;
        margin-bottom: 15px;

    }

}

/* Маленькие смартфоны */

@media (max-width: 480px) {

    body {

        font-size: 15px;

    }

    h2 {

        font-size: 28px;

    }

    .container {

        width: 94%;

    }

}

/*=====================================
HERO
=====================================*/

@media(max-width:768px){

.hero{

    text-align:center;

    min-height:90vh;

}

.hero h1{

    font-size:46px;

}

.hero p{

    font-size:18px;

}

.hero-buttons{

    flex-direction:column;

}

}

/*=====================================
ABOUT
=====================================*/

@media(max-width:992px){

.about-wrapper{

    flex-direction:column;

}

.about-stats{

    flex-direction:column;

}

/*=====================================
ABOUT
=====================================*/

@media(max-width:768px){

    .stats{

        grid-template-columns:1fr;

    }

    .about-text{

        font-size:18px;

    }

}

/*=====================================
SERVICES
=====================================*/

@media(max-width:992px){

    .services-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:768px){

    .services-grid{

        grid-template-columns:1fr;

    }

}

/*=====================================
ADVANTAGES
=====================================*/

@media(max-width:992px){

    .advantages-grid{

        grid-template-columns:repeat(2,1fr);

    }

}

@media(max-width:768px){

    .advantages-grid{

        grid-template-columns:1fr;

    }

}
