/* =====================================
   VVV GROUP
   Основные стили
===================================== */

:root{

    --gold:#CDA45E;
    --black:#050505;
    --dark:#111111;
    --white:#ffffff;
    --gray:#bfbfbf;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:'Montserrat',sans-serif;
    background:var(--black);
    color:var(--white);
    line-height:1.7;
    overflow-x:hidden;

}

.container{

    width:90%;
    max-width:1200px;
    margin:0 auto;

}

section{

    padding:100px 0;

}

h1,h2,h3{

    font-family:'Cormorant Garamond',serif;
    font-weight:700;

}

h2{

    font-size:48px;
    text-align:center;
    color:var(--gold);
    margin-bottom:60px;

}

p{

    color:var(--gray);

}

a{

    text-decoration:none;

}

img{

    max-width:100%;
    display:block;

}

/* ===========================
   Кнопки
=========================== */

.gold-btn{

    display:inline-block;
    padding:16px 38px;
    background:var(--gold);
    color:#000;
    font-weight:600;
    border-radius:40px;
    transition:.3s;

}

.gold-btn:hover{

    transform:translateY(-3px);

}

.black-btn{

    display:inline-block;
    padding:16px 38px;
    border:2px solid var(--gold);
    color:var(--gold);
    border-radius:40px;
    transition:.3s;

}

.black-btn:hover{

    background:var(--gold);
    color:#000;

}
